header {
  display: flex;
  position: fixed;
  background-color: antiquewhite;
  width: 120px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
  border-bottom: 1px solid;
}
nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 3px;
}
nav a {
  background-color: wheat;
  width: 60px;
  padding: 30px 10px;
  text-align: center;
  border-radius: 50%;
}
