#mindmap {
  width: 100%;
  height: 800px;
}

.vis-network {
  background: #fafaf7 !important;
}

.vis-node {
  font-family: "IBM Plex Sans KR", sans-serif !important;
  font-size: 16px !important;
}
